body {
  margin: 0;
  padding: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slider {
  position: relative;
  width: 700px;
  height: 500px;
  overflow: hidden;
  border: 3px solid #fff;
  border-radius: 20px;
}

 .slides {
  display: flex;
  width: 100%;
  height: 100%;
} 

.slides {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}

 .slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
} 

.slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.slide.active {
  display: block;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2rem;
  background: rgba(7, 4, 4, 0.5);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
